@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#root:has(.home){
    margin-top: 0;
    align-self: flex-start;
    --text-color: black;
    --accent-color: #4A70A9;
    --input-color: #8FABD4;
    --background-color: 
}

.url-input-label{
    font-family: "Momo Trust Display", sans-serif;
}

.url-form {
    display: flex;
    align-items: stretch;
    margin-bottom: 15vw;
}

.url-input{
    width: 25vw;
    height: 50px;
    background-color: var(--input-color);
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    border: 2px solid var(--input-color);
    border-right: none;
    transition: 150ms;
    font-size: 22px;
    color: var(--text-color);

}

.url-input:focus{
    outline: none;
    border-color: var(--text-color);
}

.url-input:hover{
    border-color: var(--accent-color);
}

.convert-button{
    background-color: var(--accent-color);
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
}

.convert-button:hover{
    border: 2px solid var(--accent-color);
    background-color: #324e77;
}

img{
    width: 500px;
    margin: 0;
}

#short-url{
    display:none
}

#short-url:not(:empty){
    width: 25vw;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid var(--input-color);
    transition: 150ms;
    font-size: 22px;
    color: var(--text-color);
    background-color: #d7e7ff;
    display: inline;
}